body {
  background-color: white;
}

.lookup {
    width: 90px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    border-radius: 20%;
    font-size: 10px;
    margin: 14px 2px;
    cursor: pointer;
    }


